<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="log.directory" value="./logs"/>
    <property resource="application.properties"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %cyan(%logger{36}.%M) - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="saveToFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}\log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.directory}/archived/log_%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>20</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{35} %M - %msg%n</pattern>
        </encoder>
    </appender>
<!--    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <param name="Encoding" value="UTF-8"/>-->
<!--        <remoteHost>10.60.98.113</remoteHost>-->
<!--        <port>8888</port>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <customFields>{"app_name":"${spring.application.name}"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="logstash"/>-->
    </root>


    <!--<springProfile name="dev">-->
    <!--<root level="info">-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--<appender-ref ref="SAVE-TO-FILE"/>-->
    <!--</root>-->
    <!--</springProfile>-->

</configuration>